services:
  client:
    build: .
    container_name: client
    ports:
      - "80:80"
    restart: always
    environment:
      - NODE_ENV=production
    networks: [appnet]

networks:
  appnet:
    driver: bridge
