name: Deploy to Server

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Install cloudflared
        run: |
          wget -q https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64.deb
          sudo dpkg -i cloudflared-linux-amd64.deb
      
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SERVER_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

          echo ${{ secrets.SERVER_USER }}
          echo ${{ secrets.CF_ACCESS_CLIENT_ID }}
          echo ${{ secrets.CF_ACCESS_CLIENT_SECRET }}
          
          cat >> ~/.ssh/config <<EOF
          Host deploy-server
            HostName ssh.tushar.sbs
            User ${{ secrets.SERVER_USER }}
            IdentityFile ~/.ssh/id_rsa
            ProxyCommand cloudflared access ssh --hostname %h --id ${{ secrets.CF_ACCESS_CLIENT_ID }} --secret ${{ secrets.CF_ACCESS_CLIENT_SECRET }}
            StrictHostKeyChecking no
            UserKnownHostsFile /dev/null
          EOF
      
      - name: Deploy Application
        run: |
          ssh deploy-server << 'ENDSSH'
            cd /srv/apps/wealthfy/lab/cicd
            git pull origin main
            docker compose up -d --build
          ENDSSH
          